@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  background: #0e141b;
  font-family: "Inter", sans-serif;
  color: #d8e2f0;
}

.navbar {
  width: 100%;
  background: #111b26;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1f2a37;
}

.navbar a {
  color: #8ab4f8;
  text-decoration: none;
  margin-left: 25px;
  font-size: 18px;
}

.navbar a:hover {
  color: #4da3ff;
}

.container {
  display: flex;
  padding: 30px;
  gap: 30px;
}

/* LEFT SIDEBAR */

.sidebar {
  width: 260px;
  background: #111b26;
  padding: 20px;
  border-radius: 12px;
  height: fit-content;
  border: 1px solid #1f2a37;
}

.sidebar img {
  width: 100%;
  border-radius: 12px;
}

.sidebar h2 {
  margin-top: 12px;
  font-size: 22px;
}

.sidebar p {
  margin-top: 5px;
  color: #9fb3c8;
  font-size: 14px;
  line-height: 1.5;
}

.icons {
  margin-top: 15px;
  display: flex;
  gap: 12px;
}

.icons a {
  font-size: 22px;
  color: #8ab4f8;
}

.icons a:hover {
  color: #4da3ff;
}

/* MAIN CONTENT */

.content {
  flex: 1;
}

.post {
  background: #111b26;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #1f2a37;
  margin-bottom: 25px;
}

.post h1 {
  font-size: 26px;
}

.post p {
  font-size: 15px;
  color: #b4c2d6;
}
