title: My CTF Blog
description: My CTF writeups and notes
url: "https://thrwt.github.io"
baseurl: ""

remote_theme: pages-themes/midnight@v0.2.0
plugins:
  - jekyll-remote-theme

markdown: kramdown
kramdown:
  input: GFM

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
